<?xml version="1.0"?>
<launch>

    <!-- Start webcam recording -->
    <!-- <node pkg="hri_preferences_study" name="webcam" type="webcam.py" output="screen" args="$(arg user_id)"></node> -->
    <include file="$(find hri_preferences_study)/launch/launch_arm.launch">
    </include>
    <!-- <include file="$(find hri_preferences_study)/launch/launch_robot.launch">
    </include> -->

    <node pkg="hri_preferences_study" name="study_gui" type="study_gui.py" output="screen"></node>
    <node pkg="hri_preferences_study" name="estop" type="estop.py" output="screen"></node>
    <node pkg="hri_preferences_study" name="home" type="home.py" output="screen"></node>
      
</launch>