<?xml version="1.0"?>
<launch>
    
    <!-- Start up the robot -->
    <include file="$(find poli2_launch)/launch/machine1.launch">
        <remap from="gen2" to="j2s7s300_driver"/>
        <arg name="start_manipulation" value="true"/>
        <arg name="robot_name" value="boop"/>
        <!-- <arg name="start_rviz" value="true" /> -->
    </include>

    <!-- Build mapping between controller input and velocity commands -->
    <node pkg="joy" name="joy_node" type="joy_node" />
   

    <node pkg="teleop_lib" name="profile_builder" type="profile_builder.py">
        <remap from="gen2" to="j2s7s300_driver"/>
    </node>

<!-- Note to self: stop velocity before switching to armpy to move to eef position -->

</launch>