<?xml version="1.0"?>
<launch>
    
    <!-- Start up the robot -->
    <include file="$(find poli2_launch)/launch/machine1.launch">
        <arg name="start_manipulation" value="true"/>
        <arg name="robot_name" value="boop"/>
    </include>

    <!-- Collect Data -->
    <node pkg="joy" name="joy_node" type="joy_node" />


</launch>
