<?xml version="1.0"?>
<launch>
    
    <!-- Start up the robot -->
    <include file="$(find poli2_launch)/launch/machine1.launch">
        <arg name="start_manipulation" value="true"/>
        <arg name="robot_name" value="beep"/>
        <arg name="start_rviz" value="true"/>
    </include>

    <!-- Collect Data -->
    <node pkg="joy" name="joy_node" type="joy_node" />

 
    <node
        name="collision_scene"
        pkg="hri_preferences_study"
        type="setup_tablebot_collision_scene_robot.py"
    /> 

    <node
        name="collision_scene_beep"
        pkg="hri_preferences_study"
        type="setup_beep_collision_scene.py"
    />


</launch>
