<?xml version="1.0"?>
<launch>

    <!-- Start up the robot -->
    <include file="$(find poli2_launch)/launch/arm_table.launch">
    </include>

    <!-- Collect Data -->
    <node pkg="joy" name="joy_node" type="joy_node" />

    <node
        name="collision_scene"
        pkg="hri_preferences_study"
        type="setup_tablebot_collision_scene.py"
    />

</launch>