<?xml version="1.0"?>
<launch>

    <!-- Start up the robot -->
    <include file="$(find hri_preferences_study)/launch/launch_robot.launch"></include>
    
    <!-- <include file="$(find hri_preferences_study)/launch/launch_arm.launch">
    </include> -->

    <node pkg="hri_preferences_study" name="pickle_goals" type="pickle_goals.py" output="screen"></node>  

</launch>