<?xml version="1.0"?>
<launch>
    <!-- Start up the robot -->
    <include file="$(find poli2_launch)/launch/machine1.launch">
        <arg name="start_manipulation" value="true"/>
    </include>

    <!-- Home the arm -->
    <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /j2s7s300_driver/in/home_arm" />

    <!-- Move the arm -->
    <!-- <node pkg="rosservice" type="rosservice" name="global_loc" args="call -wait /j2s7s300_driver/in/add_pose_to_Cartesian_trajectory" /> -->
</launch>
